@model SchoolApp.Models.TimeTable
@using SchoolApp.eNums


@{
    ViewData["Title"] = "CreateTimeTable";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>

<style>

    .form-control, .accordion-item {
        border-color: black;
    }

    .acchead {
        background-color: #2774F1
    }

    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 38px !important;
        border-color: black;
        border-left: solid 5px darkblue;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }

    .desc, .form-control {
        border-left: solid 5px darkblue;
    }

    .card-header, .head {
        background-color: darkblue;
    }

    a {
        text-decoration: none;
    }

    .card-border, .table {
        border-color: black;
    }

    .ref {
        background-color: darkblue;
    }
</style>

<div class="header1">
    <div class="alert mb-1 alert-primary d-flex align-items-center" id="form1" role="alert" style="border-bottom-color:darkblue; border-bottom-width:3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi el bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div class="el">
            <strong>Add Learner Timetable</strong>
        </div>
    </div>
</div>

<form asp-action="CreateTimeTable" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="form-group col-md-7">
            <label asp-for="Subject" class="control-label"></label>
            <select asp-for="Subject" class="form-control sub" asp-items="Html.GetEnumSelectList<eSubject>()">
                <option selected="selected" value="">Select Subject</option>
            </select>
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group col-md-7">
            <label asp-for="Grade" class="control-label"></label>
            <select asp-for="Grade" class="form-control grade" asp-items="Html.GetEnumSelectList<eGrade>()">
                <option selected="selected" value="">Select Grade</option>
            </select>
            <span asp-validation-for="Grade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-7">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-md-7 mb-2">
            <label asp-for="AttachFile" class="control-label"></label>
            <input asp-for="AttachFile" class="form-control" />
            <span asp-validation-for="AttachFile" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-outline-success"><i class="fa fa-save"> </i> Save</button>
        <button type="reset" class="btn btn-primary"><i class="fa fa-undo"> </i> Reset</button>
    </div>
</form>



<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
      $('.sub,.grade').select2();
    });
</script>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

